div{
    width: 500px;
    height: 500px;
    border: 7px solid #FFE79B;
    border-radius: 50%;
    background-image: url(./332595708_1122592465074125_2556953321987505917_n.jpg);
    background-size: cover;
}